//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Codebase functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

.img-status {
    position: relative;
    display: inline-block;

    &-indicator {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 12px;
        height: 12px;
        border: 2px solid $white;
        border-radius: 5px;
        z-index: 1;
    }
}


a.link-secondary {
    color: $text-color;
    &:hover {
        color: $brand-primary;
    }
}


.chat-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
        display: flex;
        align-items: center;
        padding: 10px 5px;
        border-bottom: 1px solid rgba(0, 0, 0, .05);

        &:hover {
            background-color: rgba(0, 0, 0, .025);
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.badge-kategori {
    position: absolute;
    top: 4px;
    left: 12px;
    z-index: 1;
    cursor: pointer;
}
/* Kategori Modal Style */
.c-pointer {
    cursor: pointer;
}

.modal-category-list ul {
    list-style: none;
    padding: 0;
    padding-top: 15px;
    margin: 0;
}

.modal-category-list ul li {
    font-size: 13px;
    padding: 6px 16px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.modal-category-list ul li.selected:before,
.modal-category-list ul li:hover:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    background: #eaeaea;
    height: 100%;
    z-index: -1;
}

.modal-category-list.has-right-arrow ul li:after {
    content: "\f105";
    font-family: "fontawesome";
    position: absolute;
    right: 0;
    margin-right:15px;
    top: calc(50% - 10px);
    font-size: 14px;
    opacity: 0.8;
}


.has-search i {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search .form-control {
    padding-left: 2.375rem;
}


.spacer {
    height: 5px;
    background: 0 0;
}

.c-pointer {
    cursor: pointer !important;
}

*,*:focus,*:hover{
    outline:none;
}

// Form Tag Custom Remove
button.close.b-form-tag-remove {
    font-size: 1.2rem !important;
    color: white;
    margin-left: 3px;
    opacity: 1;
    text-shadow: none;
}

li.b-form-tag {
    margin-right: 4px;
}

.vs__search, .vs__search:focus {
    padding: .2rem 7px !important;
}

.is-invalid .vs__dropdown-toggle {
    border-color : #ef5350 !important;
}

.dropdown-menu.dropdown-menu-user {
    min-width: 235px;
}


.row .value::before{
    content: ': ';
    font-weight: normal;
}